@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins";
}

img {
  pointer-events: none;
}

.max-width {
  padding: 0 80px;
  margin: auto;
}

/* Navbar */
.bg-custom {
  background-color: #fff;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.navbar .logo {
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}

.navbar .menu li {
  display: inline-block;
}

.navbar h5 {
  color: #514d4a;
  text-decoration: none;
  font-size: 42px;
  font-weight: bold;
}

.navbar .menu li a {
  color: #514d4a;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.navbar-nav .nav-item .nav-link {
  color: #514d4a;
}
.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item:hover .nav-link {
  color: #f4a861;
}

.navbar-toggler {
  transition: 0.5s;
}

@media (min-width: 992px) {
  .navbar .menu li a {
    margin-left: 25px;
  }
}

/* Home */
section.home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.home::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to top, rgba(27, 49, 21, 0.5), transparent);
  z-index: 9;
}

section.home img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.home img#tebing {
  transform-origin: bottom;
}

section.home img#landscape {
  transform-origin: top;
  width: 105%;
}

section.home img#matahari {
  mix-blend-mode: screen;
  z-index: 10;
}

section.home #text {
  position: relative;
  color: #f4a861;
  white-space: nowrap;
  font-size: 7vw;
  font-weight: bold;
  z-index: 9;
}

/* About */
.about.container-fluid {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25vh;
  margin-bottom: 25vh;
}

.about .container {
  position: relative;
  justify-content: center;
  align-items: center;
  max-width: 1820px;
}

.ms-5 {
  margin-left: 4rem !important;
}

.blob {
  position: relative;
}

.blob #blob-besar {
  position: relative;
  top: 0vh;
  left: 0vh;
  width: 100%;
}

.blob #pas-foto {
  position: absolute;
  x: 100px;
  y: 100px;
  width: 275px;
}

.blob #blob-sedang {
  position: absolute;
  top: 18vw;
  left: 28vw;
  z-index: 1;
  width: 30%;
}

.blob #blob-kecil {
  position: absolute;
  top: 8vw;
  left: 1vw;
  z-index: 1;
  width: 20%;
}

.blob #blob-paling-kecil {
  position: absolute;
  top: 18vw;
  left: 8vw;
  z-index: 1;
  width: 5%;
}

.text-about h1,
.text-about .name {
  color: #d28844;
  font-weight: bold;
}

.text-about h2 {
  color: #f4a861;
  font-weight: bold;
}

.text-about p {
  color: #f8c698;
  font-style: normal;
}

.button {
  position: relative;
  display: inline-block;
  color: #fff;
  background-color: #f4a861;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 1rem;
  overflow: hidden;
}

.button span {
  position: relative;
  color: #fff;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #514d4a;
  transition: width 0.5s, height 0.5s;
}

.button:hover::before {
  width: 300px;
  height: 300px;
}

.about-social {
  display: flex;
  align-items: center;
}

.about-social-icon {
  margin-right: 32px;
  width: 32px;
  color: #f4a861;
}

.about-social-icon:hover {
  color: #514d4a;
  transition: ease-in-out 0.3s;
}

/* Transition */
section.transition {
  position: relative;
  width: 100%;
  height: 400vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.transition::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.5), transparent);
  z-index: 9;
}

section.transition::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), transparent);
  z-index: 9;
}

section.transition img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.transition #chameleon {
  width: 30%;
  height: 30%;
  top: auto;
  left: auto;
  object-fit: contain;
}

#chameleon {
  animation: animateChameleon 2s linear infinite;
}

@keyframes animateChameleon {
  0%,
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  50% {
    transform: translate(0px, 20px) rotate(0deg);
  }
}

.awan-real {
  animation: animateClouds 5s linear infinite;
}

@keyframes animateClouds {
  0% {
    transform: translateY(calc(-800 * 5px));
  }
  100% {
    transform: translateY(calc(800 * 5px));
  }
}

/* Skills */
.skills.container-fluid {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25vh;
  min-height: 100vh;
}

.skills .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  max-width: 1820px;
  flex-wrap: wrap;
}

.container .card {
  position: relative;
  width: 289px;
  height: 500px;
  padding: 60px 30px;
  margin: 20px;
  background: #514d4a;
  border-radius: 1em;
  text-align: center;
  justify-content: center;
  transition: ease-in-out 0.5s;
}

.container .card .skills-icon {
  margin-bottom: 10px;
}

.container .card .skills-icon img {
  max-width: 126px;
}

.container .card .content {
  position: relative;
  height: 215px;
  overflow: hidden;
}

.skills .container h1 {
  color: #f4a861;
  font-size: 2.8em;
  font-weight: bold;
  margin-bottom: 46px;
  text-align: center;
  align-items: center;
}

.container .card .content h2 {
  color: #fff;
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 46px;
}

.container .card .content p {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
}

.container .card:hover {
  background: #f4a861;
  transition: ease-in-out 0.5s;
}
