@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
@import url(//cdn.rawgit.com/rtaibah/dubai-font-cdn/master/dubai-font.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins";
}

ul {
  padding-left: 0rem;
}

img {
  pointer-events: none;
}

.max-width {
  padding: 0 80px;
  margin: auto;
}

/* Navbar */
.bg-custom {
  background-color: #fff;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.navbar .logo {
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}

.navbar .menu li {
  display: inline-block;
}

.navbar h5 {
  color: #514d4a;
  text-decoration: none;
  font-size: 42px;
  font-weight: bold;
}

.navbar .menu li a {
  color: #514d4a;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.navbar-nav .nav-item .nav-link {
  color: #514d4a;
}
.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item:hover .nav-link {
  color: #f4a861;
}

.navbar-toggler {
  transition: 0.5s;
}

@media (min-width: 992px) {
  .navbar .menu li a {
    margin-left: 25px;
  }
}

/* Home */
section.home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.home::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to top, rgba(27, 49, 21, 0.5), transparent);
  z-index: 9;
}

section.home img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.home img#tebing {
  transform-origin: bottom;
}

section.home img#landscape {
  transform-origin: top;
  width: 105%;
}

section.home img#matahari {
  mix-blend-mode: screen;
  z-index: 10;
}

section.home #text {
  position: relative;
  color: #f4a861;
  white-space: nowrap;
  font-size: 7vw;
  font-weight: bold;
  z-index: 9;
}

/* About */
.about.container-fluid {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25vh;
  margin-bottom: 25vh;
}

.about .container {
  position: relative;
  justify-content: center;
  align-items: center;
  max-width: 1820px;
}

.ms-5 {
  margin-left: 4rem !important;
}

.blob {
  position: relative;
}

.blob #blob-besar {
  position: relative;
  top: 0vh;
  left: 0vh;
  width: 100%;
}

.blob #pas-foto {
  position: absolute;
  x: 100px;
  y: 100px;
  width: 275px;
}

.blob #blob-sedang {
  position: absolute;
  top: 18vw;
  left: 28vw;
  z-index: 1;
  width: 30%;
}

.blob #blob-kecil {
  position: absolute;
  top: 8vw;
  left: 1vw;
  z-index: 1;
  width: 20%;
}

.blob #blob-paling-kecil {
  position: absolute;
  top: 18vw;
  left: 8vw;
  z-index: 1;
  width: 5%;
}

.text-about h1,
.text-about .name {
  color: #d28844;
  font-weight: bold;
}

.text-about h2 {
  color: #f4a861;
  font-weight: bold;
}

.text-about p {
  color: #f8c698;
  font-style: normal;
}

.button {
  position: relative;
  display: inline-block;
  color: #fff;
  background-color: #f4a861;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 1rem;
  overflow: hidden;
}

.button span {
  position: relative;
  color: #fff;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #514d4a;
  transition: width 0.5s, height 0.5s;
}

.button:hover::before {
  width: 300px;
  height: 300px;
}

.about-social {
  display: flex;
  align-items: center;
}

.about-social-icon {
  margin-right: 32px;
  width: 32px;
  color: #f4a861;
  transition: ease-in-out 0.3s;
}

.about-social-icon:hover {
  color: #514d4a;
}

/* Transition */
section.transition {
  position: relative;
  width: 100%;
  height: 400vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25vh;
}

section.transition::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.5), transparent);
  z-index: 9;
}

section.transition::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), transparent);
  z-index: 9;
}

section.transition img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.transition #chameleon {
  width: 30%;
  height: 30%;
  top: auto;
  left: auto;
  object-fit: contain;
}

#chameleon {
  animation: animateChameleon 2s linear infinite;
}

@keyframes animateChameleon {
  0%,
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  50% {
    transform: translate(0px, 20px) rotate(0deg);
  }
}

.awan-real {
  animation: animateClouds 5s linear infinite;
}

@keyframes animateClouds {
  0% {
    transform: translateY(calc(-800 * 5px));
  }
  100% {
    transform: translateY(calc(800 * 5px));
  }
}

/* Skills */
.skills.container-fluid {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25vh;
  min-height: 100vh;
}

.skills .container {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 1820px;
  flex-wrap: wrap;
}

.skills .container .card {
  position: relative;
  width: 268px;
  height: 460px;
  padding: 60px 30px;
  margin: 20px;
  background: #514d4a;
  border-radius: 1em;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  justify-content: center;
  top: 0;
  transition: ease-in-out 0.5s;
}

.skills .container .card .skills-icon {
  margin-bottom: 10px;
}

.skills .container .card .skills-icon img {
  max-width: 126px;
}

.skills .container .card .content {
  position: relative;
  height: 215px;
  overflow: hidden;
}

.skills .container h1 {
  color: #f4a861;
  font-size: 2.8em;
  font-weight: bold;
  margin-bottom: 92px;
  text-align: center;
  align-items: center;
}

.skills .container .card .content h2 {
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 60px;
}

.skills .container .card .content p {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
}

.skills .container .card:hover {
  background: #f4a861;
  top: -10px;
}

/* Works */
.works.container-fluid {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25vh;
  min-height: 100vh;
  font-size: 16px;
  background: rgba(30, 30, 30);
}

.works .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.works .container h1 {
  color: #f4a861;
  font-size: 2.8em;
  font-weight: bold;
  margin-bottom: 92px;
  text-align: center;
  align-items: center;
}

.testim {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translatey(-50%);
  -moz-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  -o-transform: translatey(-50%);
  transform: translatey(-50%);
}

.testim .wrap {
  position: relative;
  width: 100%;
  max-width: 1020px;
  padding: 40px 20px;
  margin: auto;
}

.testim .arrow {
  display: block;
  position: absolute;
  color: #eee;
  cursor: pointer;
  font-size: 2em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 5px;
  z-index: 22222222;
}

.testim .arrow:before {
  cursor: pointer;
}

.testim .arrow:hover {
  color: #f4a861;
}

.testim .arrow.left {
  left: 10px;
}

.testim .arrow.right {
  right: 10px;
}

.testim .dots {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 60px;
  left: 0;
  display: block;
  z-index: 3333;
  height: 12px;
}

.testim .dots .dot {
  list-style-type: none;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #eee;
  margin: 0 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
  background: #f4a861;
  border-color: #f4a861;
}

.testim .dots .dot.active {
  -webkit-animation: testim-scale 0.5s ease-in-out forwards;
  -moz-animation: testim-scale 0.5s ease-in-out forwards;
  -ms-animation: testim-scale 0.5s ease-in-out forwards;
  -o-animation: testim-scale 0.5s ease-in-out forwards;
  animation: testim-scale 0.5s ease-in-out forwards;
}

.testim .cont {
  position: relative;
}

.testim .cont > div {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0 70px 0;
  opacity: 0;
}

.testim .cont > div.active {
  position: relative;
  opacity: 1;
}

.testim .cont div .img img {
  display: block;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.testim .cont div h2 {
  color: #f4a861;
  font-size: 1.4em;
  margin: 15px 0;
}

.testim .cont div p {
  font-size: 1em;
  color: #eee;
  width: 80%;
  margin: auto;
}

.testim .cont div.active .img img {
  -webkit-animation: testim-show 0.5s ease-in-out forwards;
  -moz-animation: testim-show 0.5s ease-in-out forwards;
  -ms-animation: testim-show 0.5s ease-in-out forwards;
  -o-animation: testim-show 0.5s ease-in-out forwards;
  animation: testim-show 0.5s ease-in-out forwards;
}

.testim .cont div.active h2 {
  -webkit-animation: testim-content-in 0.4s ease-in-out forwards;
  -moz-animation: testim-content-in 0.4s ease-in-out forwards;
  -ms-animation: testim-content-in 0.4s ease-in-out forwards;
  -o-animation: testim-content-in 0.4s ease-in-out forwards;
  animation: testim-content-in 0.4s ease-in-out forwards;
}

.testim .cont div.active p {
  -webkit-animation: testim-content-in 0.5s ease-in-out forwards;
  -moz-animation: testim-content-in 0.5s ease-in-out forwards;
  -ms-animation: testim-content-in 0.5s ease-in-out forwards;
  -o-animation: testim-content-in 0.5s ease-in-out forwards;
  animation: testim-content-in 0.5s ease-in-out forwards;
}

.testim .cont div.inactive .img img {
  -webkit-animation: testim-hide 0.5s ease-in-out forwards;
  -moz-animation: testim-hide 0.5s ease-in-out forwards;
  -ms-animation: testim-hide 0.5s ease-in-out forwards;
  -o-animation: testim-hide 0.5s ease-in-out forwards;
  animation: testim-hide 0.5s ease-in-out forwards;
}

.testim .cont div.inactive h2 {
  -webkit-animation: testim-content-out 0.4s ease-in-out forwards;
  -moz-animation: testim-content-out 0.4s ease-in-out forwards;
  -ms-animation: testim-content-out 0.4s ease-in-out forwards;
  -o-animation: testim-content-out 0.4s ease-in-out forwards;
  animation: testim-content-out 0.4s ease-in-out forwards;
}

.testim .cont div.inactive p {
  -webkit-animation: testim-content-out 0.5s ease-in-out forwards;
  -moz-animation: testim-content-out 0.5s ease-in-out forwards;
  -ms-animation: testim-content-out 0.5s ease-in-out forwards;
  -o-animation: testim-content-out 0.5s ease-in-out forwards;
  animation: testim-content-out 0.5s ease-in-out forwards;
}

@-webkit-keyframes testim-scale {
  0% {
    -webkit-box-shadow: 0px 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
    -webkit-box-shadow: 0px 0px 10px 5px #eee;
    box-shadow: 0px 0px 10px 5px #eee;
  }

  70% {
    -webkit-box-shadow: 0px 0px 10px 5px #f4a861;
    box-shadow: 0px 0px 10px 5px #f4a861;
  }

  100% {
    -webkit-box-shadow: 0px 0px 0px 0px #f4a861;
    box-shadow: 0px 0px 0px 0px #f4a861;
  }
}

@-moz-keyframes testim-scale {
  0% {
    -moz-box-shadow: 0px 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
    -moz-box-shadow: 0px 0px 10px 5px #eee;
    box-shadow: 0px 0px 10px 5px #eee;
  }

  70% {
    -moz-box-shadow: 0px 0px 10px 5px #f4a861;
    box-shadow: 0px 0px 10px 5px #f4a861;
  }

  100% {
    -moz-box-shadow: 0px 0px 0px 0px #f4a861;
    box-shadow: 0px 0px 0px 0px #f4a861;
  }
}

@-ms-keyframes testim-scale {
  0% {
    -ms-box-shadow: 0px 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
    -ms-box-shadow: 0px 0px 10px 5px #eee;
    box-shadow: 0px 0px 10px 5px #eee;
  }

  70% {
    -ms-box-shadow: 0px 0px 10px 5px #f4a861;
    box-shadow: 0px 0px 10px 5px #f4a861;
  }

  100% {
    -ms-box-shadow: 0px 0px 0px 0px #f4a861;
    box-shadow: 0px 0px 0px 0px #f4a861;
  }
}

@-o-keyframes testim-scale {
  0% {
    -o-box-shadow: 0px 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
    -o-box-shadow: 0px 0px 10px 5px #eee;
    box-shadow: 0px 0px 10px 5px #eee;
  }

  70% {
    -o-box-shadow: 0px 0px 10px 5px #f4a861;
    box-shadow: 0px 0px 10px 5px #f4a861;
  }

  100% {
    -o-box-shadow: 0px 0px 0px 0px #f4a861;
    box-shadow: 0px 0px 0px 0px #f4a861;
  }
}

@keyframes testim-scale {
  0% {
    box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
    box-shadow: 0px 0px 10px 5px #eee;
  }

  70% {
    box-shadow: 0px 0px 10px 5px #f4a861;
  }

  100% {
    box-shadow: 0px 0px 0px 0px #f4a861;
  }
}

@-webkit-keyframes testim-content-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-moz-keyframes testim-content-in {
  from {
    opacity: 0;
    -moz-transform: translateY(100%);
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}

@-ms-keyframes testim-content-in {
  from {
    opacity: 0;
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes testim-content-in {
  from {
    opacity: 0;
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes testim-content-in {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes testim-content-out {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@-moz-keyframes testim-content-out {
  from {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    opacity: 0;
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@-ms-keyframes testim-content-out {
  from {
    opacity: 1;
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    opacity: 0;
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@-o-keyframes testim-content-out {
  from {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes testim-content-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@-webkit-keyframes testim-show {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes testim-show {
  from {
    opacity: 0;
    -moz-transform: scale(0);
    transform: scale(0);
  }

  to {
    opacity: 1;
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

@-ms-keyframes testim-show {
  from {
    opacity: 0;
    -ms-transform: scale(0);
    transform: scale(0);
  }

  to {
    opacity: 1;
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@-o-keyframes testim-show {
  from {
    opacity: 0;
    -o-transform: scale(0);
    transform: scale(0);
  }

  to {
    opacity: 1;
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes testim-show {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes testim-hide {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  to {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@-moz-keyframes testim-hide {
  from {
    opacity: 1;
    -moz-transform: scale(1);
    transform: scale(1);
  }

  to {
    opacity: 0;
    -moz-transform: scale(0);
    transform: scale(0);
  }
}

@-ms-keyframes testim-hide {
  from {
    opacity: 1;
    -ms-transform: scale(1);
    transform: scale(1);
  }

  to {
    opacity: 0;
    -ms-transform: scale(0);
    transform: scale(0);
  }
}

@-o-keyframes testim-hide {
  from {
    opacity: 1;
    -o-transform: scale(1);
    transform: scale(1);
  }

  to {
    opacity: 0;
    -o-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes testim-hide {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0);
  }
}

@media all and (max-width: 300px) {
  body {
    font-size: 14px;
  }
}

@media all and (max-width: 500px) {
  .testim .arrow {
    font-size: 1.5em;
  }

  .testim .cont div p {
    line-height: 25px;
  }
}

/* Transition2 */
.transition2 {
  position: relative;
  width: 100%;
  height: 80vh;
  background: #ffd9b6;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  top: -11vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
  z-index: 50;
}

.waves2 {
  position: absolute;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  z-index: 50;
}

.waves3 {
  position: relative;
  width: 100%;
  height: 15vh;
  top: 25vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
  z-index: 50;
}

.waves4 {
  position: relative;
  width: 100%;
  height: 15vh;
  top: -39vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
  z-index: 50;
}

.waves5 {
  position: relative;
  width: 100%;
  height: 15vh;
  top: 14vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  z-index: 50;
}

#bobogeng {
  display: block;
  border-radius: 50%;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
}

.parallax > use {
  animation: move-forever 30s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -0.5s;
  animation-duration: 2s;
}
.parallax > use:nth-child(2) {
  animation-delay: -1s;
  animation-duration: 5s;
}
.parallax > use:nth-child(3) {
  animation-delay: -2s;
  animation-duration: 8s;
}
.parallax > use:nth-child(4) {
  animation-delay: -3s;
  animation-duration: 15s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/* Tools */
.tools.container-fluid {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.tools .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1820px;
  flex-wrap: wrap;
}

.tools .title {
  text-align: center;
  color: #d28844;
  font-weight: bold;
  margin-bottom: 92px;
}

.tools .content {
  text-align: center;
  margin-bottom: 92px;
}

.tools h1 {
  font-weight: bold;
}

.tools h2 {
  font-weight: 600;
  color: #d28844;
  margin-bottom: 20px;
}

.tools p {
  font-weight: 500;
  color: #f4a861;
  font-size: 1.2em;
}

.tools span {
  font-weight: bold;
  color: #ffd9b6;
}

/* Footer */
footer {
  background-color: rgba(30, 30, 30);
  height: auto;
  width: 100%;
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  list-style: none;
}

.footer-social li {
  margin-right: 32px;
}

.footer-social-icon {
  margin-right: 24px;
  width: 24px;
  color: #fff;
  transition: ease-in-out 0.3s;
}

.footer-social a {
  text-decoration: none;
}

.footer-social-icon:hover {
  color: #514d4a;
}

.footer-bottom {
  position: relative;
  background: #fff;
  width: 100%;
  padding: 5 px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 1em;
  word-spacing: 2px;
  text-transform: capitalize;
  color: rgba(30, 30, 30);
}

.footer-bottom span {
  font-weight: bold;
}
